.lightSquare,
.darkSquare {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;

  transition:
    transform .15s ease,
    filter .2s ease;

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,.12),
    inset 0 -2px 3px rgba(0,0,0,.25);
}

.lightSquare::before,
.darkSquare::before{
    content:"";
    position:absolute;
    inset:0;
    pointer-events:none;
}

.lightSquare{
    background:
        repeating-linear-gradient(
            87deg,
            rgba(255,255,255,.05) 0px,
            rgba(255,255,255,.05) 2px,
            rgba(0,0,0,.025) 3px,
            rgba(255,255,255,.03) 6px
        ),
        linear-gradient(
            135deg,
            #f6e6bf 0%,
            #ecd3a2 35%,
            #e2c38c 70%,
            #d6b177 100%
        );
}

.darkSquare{
    background:
        repeating-linear-gradient(
            92deg,
            rgba(255,255,255,.03) 0px,
            rgba(255,255,255,.03) 2px,
            rgba(0,0,0,.08) 4px,
            rgba(255,255,255,.015) 7px
        ),
        linear-gradient(
            135deg,
            #765031 0%,
            #5b381d 40%,
            #472611 70%,
            #2f1608 100%
        );
}

.lightSquare::before,
.darkSquare::before{
    background:
        radial-gradient(
            circle at 25% 20%,
            rgba(255,255,255,.18),
            transparent 45%
        ),
        linear-gradient(
            to bottom,
            rgba(255,255,255,.06),
            rgba(0,0,0,.18)
        );
}

.lightSquare:hover,
.darkSquare:hover{
    filter:brightness(1.08);
    z-index:5;
}

.lightSquare.selected::after,
.darkSquare.selected::after{
    content:"";
    position:absolute;
    inset:0;
    border:3px solid rgba(255,215,120,.95);
    box-shadow:
        inset 0 0 18px rgba(255,225,120,.35),
        0 0 18px rgba(255,215,120,.4);
}

.lightSquare.validMove::after,
.darkSquare.validMove::after{
    content:"";
    position:absolute;
    width:28%;
    height:28%;
    border-radius:50%;
    background:rgba(38,220,110,.82);
    box-shadow:
        0 0 10px rgba(38,220,110,.5),
        0 0 20px rgba(38,220,110,.35);
    animation:movePulse 1.8s ease-in-out infinite;
}

.lightSquare.captureMove::after,
.darkSquare.captureMove::after{
    content:"";
    position:absolute;
    inset:7%;
    border-radius:50%;
    border:5px solid rgba(220,65,65,.85);
    box-shadow:
        0 0 16px rgba(220,65,65,.45);
    animation:movePulse 1.8s ease-in-out infinite;
}

@keyframes movePulse{
    0%{
        transform:scale(.9);
        opacity:.45;
    }
    50%{
        transform:scale(1.08);
        opacity:1;
    }
    100%{
        transform:scale(.9);
        opacity:.45;
    }
}